* {box-sizing: border-box;}
body{
	margin: 0;
	
}
section {
	position: relative;
	text-align: center;
	background: #333 url(../img/Bg.jpg) center  repeat;
	margin: 0;
	background-size: cover;
	height: 100vh;
	z-index: 0;
}
section::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: -1;
}


.box_photo {
	display:block;
	width: 100%;
	height: 100%;
	
	
}
.photo {
	vertical-align: middle;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 13em;
    margin-top: 20%;
    position: relative;
}


.box_photo img
{   
	width:200px;
	height: 200px;

}
/* hover */
.html:hover {
	-webkit-filter:brightness(0);
}

.jq:hover {
	-webkit-filter:brightness(0.2);
}

.js:hover {
	-webkit-filter: brightness(0.3);

}




.tell {
	position: absolute;
	tep: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    color: #fff;
}

.css:hover .tell {
	display: block;
}
