.box_photo {
	display:block;
}

img {
	width: 200px;
	height: 400px;
}

.photo {
	
	border: 2px solid white;
	margin: 5px;
}



.img1 {
	display: inline-block;
	width: 200px;
	height: 400px;
	position: relative;
	 

}

.img1::before{
	 position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: 'Реклама';
	line-height: 300px;
  text-align: center;
  font-size: 32px;
 color: white;
	display: inline-block;
	transform: scalex(0);
	-webkit-transition: opacity 1.8s;
	-moz-transition: opacity 1.8s;
	-o-transition: opacity 1.8s;
	-ms-transition: opacity 1.8s;
	transition: opacity 1.8s;
}

.img1:hover::before
{
	 transform: scalex(1);
	


}

